body {
    border: 1px solid black;
    width: 99%;
    height: 1000px; 
    background-color: rebeccapurple 
}
.topBar{
    position: absolute;
    padding-top:17px;
    width:90%;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    margin-top: 0%;
}
.logo{
    left: 10px;
}
.navbar a {
    font-size:30px;
    color: #ededed ;
    text-decoration: none;
    margin-right: 40px;
    cursor: pointer;
}
.navbar a:hover {
    text-decoration: underline;
}
video{
    margin-top: 140px;
    margin-left: 450px;
    width: 300px;
}
aside{
    width: 400px;
    margin: 10px;
    padding: 5px;
    float: left;
}
.circle-image{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    position: absolute; 
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
}
hr{
    border: 1px solid black;
    width: 100%;
    top: 145%;
    
}
.link{
    position: absolute;
    left: 35%;
    top: 100%;

}
.nav a:hover{
    text-decoration: underline;
}
.adress{
    position: absolute;
    left: 20px;
    color: #ededed;
}
.facebook{
    position: absolute;
    left: 20px;
    top: 120%;
    color: #ededed;

}
.instagram{
    position: absolute;
    left: 90px;
    top: 120%;
    color: #ededed;
}
.twitter{
    position: absolute;
    left: 160px;
    top: 120%;
    color: #ededed;
}
.map{
    position: absolute;
    left: 80%;
    top: 120%;
    height: 100px;
}
.number{
    position: absolute;
    left: 230px;
    top: 120%;
}



